# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
lang                     : "en"
locale                   : "en-US"
supported_locales        : ["en", "es-419", "pt-BR"]
title                    : "Camilo Andrés Cáceres Flórez"
title_separator          : "-"
name                     : &name "Camilo Andrés Cáceres Flórez"
description              : &description "Staff ML Engineer & AI Architect (Data Science Expert) leading GenAI, MLOps, and applied data science at scale | Ph.D. in Mechanical Engineering (Mechatronics) from UNICAMP | EMBA (Strategic Leadership)"
url                      : https://camilo-cf.github.io # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : "" # the subpath of your site, e.g. "/blog"
repository               : #"academicpages/academicpages.github.io"
logo                     : "/images/Foto_Camilo_perfil.jpg"
avatar                   : "/images/Foto_Camilo_perfil.jpg"
teaser                   :  # filename of teaser fallback teaser image placed in /images/, .e.g. "500x300.png"
breadcrumbs              : false # true, false (default)
words_per_minute         : 160
read_more                : "disabled" # if enabled, adds "Read more" links to excerpts
comments:
  provider               : # false (default), "disqus", "discourse", "facebook", "google-plus", "staticman", "custom"
  disqus:
    shortname            :
  discourse:
    server               : # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
  facebook:
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"
staticman:
  allowedFields          : ['name', 'email', 'url', 'message']
  branch                 : "gh-pages" # "master", "gh-pages"
  commitMessage          : "New comment."
  filename               : comment-{@timestamp}
  format                 : "yml"
  moderation             : true
  path                   : "_data/comments/{options.slug}"
  requiredFields         : ['name', 'email', 'message']
  transforms:
    email                : "md5"
  generatedFields:
    date:
      type               : "date"
      options:
        format           : "iso8601" # "iso8601" (default), "timestamp-seconds", "timestamp-milliseconds"
atom_feed:
  path                   : # blank (default) uses feed.xml

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :
twitter_username         : "camilocaceresf"

# Social Sharing
twitter:
  username               : "camilocaceresf"
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 :  # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : "Person"
  name                   : "Camilo Andrés Cáceres Flórez"
  links:
    - "https://github.com/camilo-cf"
    - "https://www.linkedin.com/in/camilocaceresf"
    - "https://scholar.google.com/citations?user=325XocAAAAAJ&hl=es"
    - "https://www.youtube.com/user/kmicf"


# Analytics
analytics:
  provider               : false # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          : ""

cta:
  contact_url: "/en/contact/"
  subscribe_url: "/newsletter/"
  case_study_url: "/en/case-studies/"
  show_case_study: true

newsletter:
  provider: "buttondown"
  form_action: ""
  embed_html: |
    <form action="https://buttondown.email/api/emails/embed-subscribe/camilo-cf" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/camilo-cf', 'popupwindow')">
      <label for="bd-email">Email</label>
      <input type="email" name="email" id="bd-email" required>
      <p class="newsletter-form__hint">Buttondown handles double opt-in and email storage.</p>
      <button type="submit" class="btn btn--primary">Subscribe</button>
    </form>
  fallback_email: "contact@camilo-cf.com"
  primary_locale: "en"

contact:
  alias_email: "contact@camilo-cf.com"
  formspree_endpoint: ""
  linkedin_url: "https://www.linkedin.com/in/camilocaceresf"
  scheduling_url: ""

adsense:
  enabled: false
  client_id: ""
  publisher_id: ""
  slot_ids:
    post_top: ""
    post_bottom: ""

consent_banner:
  enabled: true
  message: "This site uses cookies to remember your preferences. Ads and analytics stay off until you accept. See the cookies and privacy pages for details."
  accept_text: "Accept"
  reject_text: "Reject"
  learn_more_text: "Learn more"
  learn_more_url: "/cookies/"
  storage_key: "site_consent"
  default_consent: "denied"


# Site Author
author:
  name             : "Camilo Andrés Cáceres Flórez"
  avatar           : "Foto_Camilo_perfil.jpg"
  bio              : "Staff ML Engineer (Applied AI), Data Science Expert, and AI Architect leading GenAI, data science, and MLOps at scale. Ph.D. in Mechanical Engineering (Mechatronics) from UNICAMP and EMBA in Strategic Leadership, with experience driving end-to-end ML platforms, computer vision, and data science initiatives."
  location         : "Bogotá, Colombia"
  employer         : "Mercado Libre"
  googlescholar    : "https://scholar.google.com/citations?hl=en&user=325XocAAAAAJ&view_op=list_works&authuser=2"
  email            : "contact@camilo-cf.com"
  uri              :
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "camilo-cf"
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  linkedin         : "camilocaceresf"
  orcid            : #"http://orcid.org/yourorcidurl"
  pinterest        :
  soundcloud       :
  stackoverflow    : # http://stackoverflow.com/users/123456/username
  steam            :
  tumblr           :
  twitter          : 
  vine             :
  weibo            :
  xing             :
  youtube          : "kmicf" 
  wikipedia        :


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      show_ads: true
      show_cta: true
      lang: "en"
      i18n_key: ""
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      lang: "en"
      i18n_key: ""
  # _teaching
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
      lang: "en"
      i18n_key: ""
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
      lang: "en"
      i18n_key: ""
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true
      lang: "en"
      i18n_key: ""
  # _talks
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true
      lang: "en"
      i18n_key: ""
  - scope:
      path: "en"
    values:
      lang: "en"
  - scope:
      path: "es-419"
    values:
      lang: "es-419"
  - scope:
      path: "pt-br"
    values:
      lang: "pt-BR"
      

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
paginate: 10
paginate_path: "/blog/page:num"
timezone: America/Los_Angeles # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jemoji

 


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# https://github.com/jekyll/jekyll-archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
