{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% assign domain = link.url %}
            {% if link.urls %}
              {% assign domain = link.urls[page.lang] | default: link.urls[site.lang] | default: link.urls["default"] | default: link.url %}
            {% endif %}
            {% assign link_title = link.title %}
            {% if link.titles %}
              {% assign link_title = link.titles[page.lang] | default: link.titles[site.lang] | default: link.titles["default"] | default: link.title %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain | relative_url }}">{{ link_title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
      {% include language_switcher.html %}
    </div>
  </div>
</div>
